{{ header }}
<main id="product-page"
    class="main-page container-fluid"
    itemtype="http://schema.org/Product"
    itemscope>
    <div class="row">
        <div class="col-lg-12">
            <section class="d-flex justify-content-between align-items-center">
                <div class="breadcrumbs">
                    {% for breadcrumb in breadcrumbs %}
                        {% if not loop.last %}
                            <a href="{{ breadcrumb.href }}">
                                {{ breadcrumb.text }}
                            </a>
                            <span class="divider">/</span>
                        {% else %}
                            <span>{{ breadcrumb.text }}</span>
                        {% endif %}
                    {% endfor %}
                </div>
            </section>
        </div>

        <div class="col-md-12">
            <div class="row">
                {% if thumb or images %}
                    <div class="col-lg-5">
                        <div class="mt-3 d-none product-images">
                            <ul class="d-none d-md-block d-flex flex-column flex-shrink-0 justify-content-center p-0 slider-nav">
                                {% if thumb %}
                                    <li class="prod-card__item-photo"
                                        data-hash="default">
                                        <img itemprop="image"
                                            src="{{ thumb }}"
                                            class="img-fluid" />
                                    </li>
                                {% endif %}
                                {% for i in images %}
                                    <li class="prod-card__item-photo"
                                        data-hash="{{ i.imageHash }}">
                                        <img itemprop="image"
                                            data-lazy="{{ i.thumb }}"
                                            class="img-fluid" />
                                    </li>
                                {% endfor %}
                            </ul>
                            <ul class="prod-card__list-big-photo slider-for">
                                {% if thumb %}
                                    <li class="prod-card__item-big-photo">
                                        <img itemprop="image"
                                            src="{{ popup }}"
                                            data-zoom-image="{{ popup }}"
                                            class="img-fluid" />
                                    </li>
                                {% endif %}
                                {% for i in images %}
                                    <li class="prod-card__item-big-photo">
                                        <img itemprop="image"
                                            src="{{ i.popup }}"
                                            data-zoom-image="{{ i.popup }}"
                                            class="img-fluid" />
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}

                <div class="col-lg-7">
                    {% if znachek %}
                        <div class="prod-card__category">
                            <span>{{ znachek }}</span>
                        </div>
                    {% endif %}

                    <h1 class="title mb-4">
                        {{ h1 }}
                    </h1>
                    <meta itemprop="name" content="{{ h1 }}" />

                    <!-- PRODUCT ELEMENT START -->
                    {% if rpc %}
                        <div id="rendered-product-content">
                            {{ rpc }}
                        </div>
                    {% endif %}
                    <melle-product></melle-product>
                    <!-- PRODUCT ELEMENT END -->

                    <div class="description mt-4 mb-2">
                        {{ description }}
                    </div>

                    {% if manufacturer %}
                        <div class="manufacturer mb-2"
                            itemprop="brand"
                            itemtype="http://schema.org/Brand"
                            itemscope>
                            <meta itemprop="name"
                                content="{{ manufacturer }}" />
                            <span>производитель:&nbsp;</span><a href="{{
                                manufacturers
                                }}">
                                {{ manufacturer }}
                            </a>
                        </div>
                    {% endif %}

                    {% if den %}
                        <div class="manufacturer mb-2">
                            <span>количество ден:&nbsp;</span>{{ den }}
                        </div>
                    {% endif %}

                    {% if sostav %}
                        <div class="manufacturer mb-2">
                            <span>состав:&nbsp;</span>{{ sostav }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-md-12 my-4">
            <div class="row">
                {% if extra_description %}
                    <div class="col-md-8 description-extra">
                        {{ extra_description }}
                        {% if extra_description_hidden %}
                            <details>
                                <summary>
                                    Подробнее
                                </summary>
                                {{ extra_description_hidden }}
                            </details>
                        {% endif %}
                    </div>
                {% endif %}
                <!-- PRODUCT REWIEW START -->
                <div class="col-md-4">
                    <melle-product-review></melle-product-review>
                </div>
                <!-- PRODUCT REWIEW END -->
            </div>
        </div>

    </div>
</main>

</section> <!-- END MAIN SECTION -->

<div class="main-page container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="other-products my-4">
                <h4 class="title">Похожие товары в наличии</h4>
                <div data-retailrocket-markup-block="5f7ca9ae97a52820342c3081" data-product-id="{{product_id}}"></div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="other-products my-4">
                <h4 class="title">Сопутствующие товары</h4>
                <div data-retailrocket-markup-block="5f7cacaf97a52820342c308d" data-product-id="{{product_id}}"></div>
            </div>
        </div>
    </div>
</div>

<section> <!-- RESTART MAIN SECTION -->

</main>
{{ footer }}
