{{ header }}
<main class="main-page">
   <section class="breadcrumbs">
      <div class="breadcrumbs__container container">
         <div class="breadcrumbs__inner">
            {% for breadcrumb in breadcrumbs %}
            {% if not loop.last %}
            <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a><span>/</span>
            {% else %}
            <span>{{ breadcrumb.text }}</span>
            {% endif %}
            {% endfor %}
         </div>
      </div>
   </section>

   <section data-layout="col" class="search catalog">
      <div class="search__container container">

         <div class="search__sidebar">
            <section class="sidebar">
               <melle-catalog-filter></melle-catalog-filter>
            </section>
         </div>

         <div class="search__content">
            <melle-search-form></melle-search-form>

            {% if rcc %}
            <div id="rendered-catalog-content">{{rcc}}</div>
            {% endif %}
            <melle-catalog-content></melle-catalog-content>
         </div>

      </div>
   </section>
</main>
{{ footer }}
