{{ header }}
<main class="main-page">
   <section class="breadcrumbs">
      <div class="breadcrumbs__container container">
         <div class="breadcrumbs__inner">
            {% for breadcrumb in breadcrumbs %}
            {% if not loop.last %}
            <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a><span>/</span>
            {% else %}
            <span>{{ breadcrumb.text }}</span>
            {% endif %}
            {% endfor %}
         </div>
      </div>
   </section>

   <section data-layout="col" class="search catalog">

      <melle-search-wrapper></melle-search-wrapper>

      {# <div class="search__container container">

         <melle-search-wrapper></melle-search-wrapper>

         <div class="search__sidebar">
            <melle-search-filter></melle-search-filter>
         </div>

         <div class="search__content"> 
            <melle-search-form></melle-search-form>

            {% if rcc %}
            <div id="rendered-catalog-content">{{rcc}}</div>
            {% endif %}
            <melle-search-content></melle-search-content>
         </div>

      </div> #}
   </section>
</main>
{{ footer }}
