{{ header }}
<main class="main-page">
   <section class="breadcrumbs">
      <div class="breadcrumbs__container container">
         <div class="breadcrumbs__inner">
            {% for breadcrumb in breadcrumbs %}
            {% if not loop.last %}
            <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a><span>/</span>
            {% else %}
            <span>{{ breadcrumb.text }}</span>
            {% endif %}
            {% endfor %}
         </div>
      </div>
   </section>

   <section class="catalog">
      <div class="catalog__container container">

         <h1>{{ heading_title }}</h1>

      </div>
   </section>
</main>
{{ footer }}