<div id="swip{{ module }}" class="swiper-container">
    <div class="swiper-wrapper">
        {% for item in banners %}
            <div class="swiper-slide" style="background-image: url({{ item.image }});">
                <a href="{{ item.link }}">
                    <img src="{{ item.image }}" alt="{{ item.title }}">
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
</div>

<script type="text/javascript">
var swiper{{ module }} = new Swiper('#swip{{ module }}', {
    direction: 'horizontal',
    pagination: {
        el: '.swiper-pagination',
         clickable: true,
    },
});
</script>