<div id="melle-block-{{ blockId }}"
    class="col-sm-6 col-md-4 melle-block melle-block-{{ type }} text-center">
    {% if image %}
        <a href="{{ link }}">
            <img src="{{ image }}" alt="{{ text }}" class="img-fluid" />
        </a>
    {% endif %}
</div>
