<div id="melle-block-{{blockId}}" class="col-sm-12 melle-block melle-block-{{type}}">
    {% if image %}
    <a href="{{link}}">
    <div class="background-container p-4 p-sm-5" style="{% if image %}background-image:url('{{image}}');{% endif %}{% if height %}height:{{height}}px;{% endif %}">
        <div class="inner-content">
            {% if text %}
            <div class="text"><b>{{text}}</b></div>
            {% endif %}

            {% if buttonText %}
            <button type="button" class="btn {{buttonColor}} mt-4">{{buttonText}}</button>
            {% endif %}
        </div>
    </div>
    </a>
    {% endif %}
</div>
