{{ header }}
<style>.container-fluid {
    padding-left: 18%;}</style>
{{ column_left }}
<style>table#discounts td {
padding: 5px;}</style>
<div id="content" class="{{ module_id }}">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<!--<button type="submit" form="form-{{ module_id }}" data-toggle="tooltip" title="сохранить" class="btn btn-primary"><i class="fa fa-save"></i></button>
        		<a href="{{ exit }}" data-toggle="tooltip" title="выйти" class="btn btn-default"><i class="fa fa-reply"></i></a>-->
				
        <button type="submit" form="form-total" data-toggle="tooltip" title="сохранить" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ exit }}" data-toggle="tooltip" title="выйти" class="btn btn-default"><i class="fa fa-reply"></i></a></div>				
				
				
				
    		</div>
      		<h1>Управление оплатой от Dostav.im</h1>
      		<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
      		</ul>
    	</div>
  	</div>
	<div class="container-fluid">
		{% if errors %}
			{% for errors in error %}
				<div class="alert alert-danger">
    				<i class="fa fa-exclamation-circle"></i> {{ error }}
      				<button type="button" class="close" data-dismiss="alert">&times;</button>
				</div>
			{% endfor %}
		{% elseif success %}
			<div class="alert alert-success">
				<i class="fa fa-check-circle"></i> {{ success }}
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
		{% endif %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3>Управление оплатой от Dostav.im</h3>
			</div>
			<div class="panel-body">
        		<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-{{ module_id }}" class="form-horizontal">
       	        
          	        <div class="html-content">
						{% set html_count = 0 %}
    {% for html, options in settings %} 
	
								{% if html_count == 0 %}
								{% set myactive = 'active' %}
								{% else %}
								{% set myactive = '' %}
								{% endif %}		
								
      						<div class="html-pane{{ myactive }}" id="html-{{ html|replace({'%this%': '_', '%that%': '-'}) }}">
							   		{% for key, option in options %}					
									{% set key_id = key|replace({'%this%': '_', '%that%': '-'}) %}
									{% if option == 'title' %}
										<h2>{{ 'entry_' ~ key }}</h2>
										{% elseif option == 'notice' %}
										<span class="notice">{{ extension ~ '_' ~ key }}</span>							
										{% elseif option == 'hidden' %}
										<input type="hidden" name="{{ extension ~ '_' ~ key }}" value="{{ extension ~ '_' ~ key }}" />
									{% else %}
										<div class="form-group {{module_id}}-{{key_id}}">

										
											<label class="col-sm-2 control-label" for="input-{{ key_id }}">
													{{ _context['entry_' ~ key]|default }}
											</label>
											<div class="col-sm-10">
											{% if option == 'html' %}
													{{ _context[extension ~ '_' ~ key]|default }}
												{% elseif option == 'text' %}
													<span id="input-{{ key_id }}" class="input-text">
														{{ _context[extension ~ '_' ~ key]|default }}
													</span>
													{% elseif option == 'input' %}
													
												
				
										

<input type="text" name="total_dostavim_pay_sort_order" value="{{ total_dostavim_pay_sort_order }}" placeholder="{{ _context['entry_' ~ key]|default }}" id="input-{{ key_id }}" class="form-control" />
			
														
													{% elseif option == 'select' %}
													
													{% if key_id  == 'geo_zone' %}
													<select name="total_dostavim_pay_geo_zone" id="input-{{ key_id }}" class="form-control">
														{% for key,item in geo_zone %}
														{% if item[0] ==  total_dostavim_pay_geo_zone %}
															<option value="{{ item[0] }}" selected="selected">
															{{ item[1] }}
															</option>
															{% else %}
															<option value="{{ item[0] }}" >
															{{ item[1] }}
															</option>															
															{% endif %}															
														{% endfor %}
																												
													</select>
													{% endif %}
													
													{% if key_id  == 'status' %}
													
													
													<select name="total_dostavim_pay_status" id="input-{{ key_id }}" class="form-control">
									

													
													{% for key,item in status %}
													<option value="{{ item[0] }}"
													

																	{% if  total_dostavim_pay_status == item[0] %} 
																		
																		
																	
																	selected="selected"

																	{% endif %}
	
													> {{ item[1] }}</option>																
													{% endfor %}													
													
													</select>
													{% endif %}
													
													{% elseif option == 'checkbox' %}
													<div class="well well-sm" style="height: 100px; overflow: auto;">
													
									
														{% for key,item in inactive_discounts %}
															<div class="checkbox">
																<label>

																<input type="checkbox" name="{{extension ~ '_inactive_discounts'}}[]" value="{{ item[0] }}"
																	
																{% if myVar in dostavim_pay_inactive_discounts|keys %}
																
																
																style="color:red"
																
																{% for qkey,qitem in dostavim_pay_inactive_discounts %}
																
																{{ dostavim_pay_inactive_discounts[item[0]] }}
																
																
																	{% if  qitem == item[1] %} 
																		
																	
																	
																	checked="checked"

																	{% endif %}
																{% endfor %}
																

																	{% endif %}
																	
																	/>
	
																	{{ item[1] }}
																</label>
															</div>
														{% endfor %}
													</div>
												{% elseif option == 'radio' %}
														
												
													{% if dostavim_pay_add_name  == 1 %}
		

													<label class="radio-inline">
														<input type="radio" name="{{ extension ~ '_' ~ key }}" value="1" checked="checked" />вкл
													</label>
													<label class="radio-inline">
														<input type="radio" name="{{ extension ~ '_' ~ key }}" value="0"  />выкл
													</label>
																											{% else %}
																											
													<label class="radio-inline">
														<input type="radio" name="{{ extension ~ '_' ~ key }}" value="1" />вкл
													</label>
													<label class="radio-inline">
														<input type="radio" name="{{ extension ~ '_' ~ key }}" value="0" checked="checked" />выкл
													</label>												
																											
													{% endif %}
												{% endif %}
											</div>
										</div>
									{% endif %}
								{% endfor %}
							</div>
							{% set html_count = html_count + 1 %}
						{% endfor %}
					</div>								
					
            	</form>   		
          	</div>
      	</div>
    </div>
</div>
{{ footer }}
					
<script type="text/javascript">

$(".items").on("click", ".add-item", function()
{			
	html = $(this).closest('.item-row').attr('id');
	values = html.split("-");
	key_pauments = values[0];

	itemkey = $.now();

	html = "<tr id='" + key_pauments + "-" + itemkey + "' class='item-row'>";
	
	html += "<td>";
	html += "<select name='{{ extension }}_" + key_pauments + "[" + itemkey + "][payment]' class='form-control'>";
	html += "<option value=''>-- Выберите способ --</option>";
			
	{% for payments in payment %}
		html += "<option value='{{ payment[0] }}{{ payment[1] }}</option>";
	{% endfor %}
			
	html += "</select>";
	html += '</td>';
				
	html += "<td>";
	html += "<input type='text' name='{{ extension }}_" + key_pauments + "[" + itemkey + "][minimum]' class='form-control' value='' placeholder='минимальное' />";
	html += '</td>';
					
	html += "<td>";
	html += "<input type='text' name='{{ extension }}_" + key_pauments + "[" + itemkey + "][maximum]' class='form-control' value='' placeholder='максимальное' />";
	html += '</td>';
					
	html += "<td>";
	html += "<input type='text' name='{{ extension }}_" + key_pauments + "[" + itemkey + "][value]' class='form-control' value='' placeholder='введите значение' />";
	html += '</td>';
              		
    html += "<td class='item-buttons'>";
	html += "<a data-toggle='tooltip' title='Добавить' class='btn btn-primary add-item'>Добавить</a>";
	html += "</td>";
	
	html += "</tr>";
	
	$(this).removeClass("add-item");
	$(this).addClass("remove-item");
	
	$(this).removeClass("btn-primary");
	$(this).addClass("btn-danger");
	
	$(this).attr("title", "Удалить");
	$(this).attr("data-original-title", "Удалить");	
	$(this).text("Удалить");

	$(this).children().removeClass("fa-plus");
	$(this).children().addClass("fa-minus");
		
	$(this).closest(".item-row").after(html);
});

$(".items").on("click", ".remove-item", function()
{
	html = "<a data-toggle='tooltip' title='Добавить' class='btn btn-primary add-item'>Добавить</a>";
	
	if ($(this).closest(".item-row").is(':last-child')) {
		$(this).closest(".item-row").prev().children(".remove-item").after(html);
	}
	
	if (!$(this).closest(".item-row").is(':only-child')) {
		$(this).closest(".item-row").remove();
	}
});

</script>