{{ header }}
<main class="main-page">
   <section class="breadcrumbs">
      <div class="breadcrumbs__container container">
         <div class="breadcrumbs__inner">
            {% for breadcrumb in breadcrumbs %}
            {% if not loop.last %}
            <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a><span>/</span>
            {% else %}
            <span>{{ breadcrumb.text }}</span>
            {% endif %}
            {% endfor %}
         </div>
      </div>
   </section>

   <section class="about">
      <div class="about__container container">
         <div class="about__title">{{ heading_title }}</div>

         {{ description }}

      </div>
   </section>
</main>
{{ footer }}