<div class="simplecheckout-block" id="simplecheckout_cart" {{ hide ? 'data-hide="true"' : '' }} {{ has_error ? 'data-error="true"' : '' }}>
{% if display_header %}
    <div class="checkout-heading panel-heading">{{ text_cart }}</div>
{% endif %}
{% if attention %}
    <div class="alert alert-danger simplecheckout-warning-block">{{ attention }}</div>
{% endif %}
{% if error_warning %}
    <div class="alert alert-danger simplecheckout-warning-block">{{ error_warning }}</div>
{% endif %}

<div class="basket-orders">
   <div class="basket-orders__container ">
      <div class="basket-orders__table-wrap">
         <table class="basket-orders__table-mobile">
            <tbody>
               {% for product in products %}
                  <tr>
                     <td class="basket-orders__image-column">
                        {% if product['thumb'] %}
                        <a href="{{ product['href'] }}">
                           <div class="basket-orders__photo"><img src="{{ product['thumb'] }}" alt="{{ product['name'] }}" title="{{ product['name'] }}" class="img-responsive"></div>
                        </a>
                        {% endif %}
                     </td>
                     <td class="basket-orders__name-column quantity">
                        <div class="basket-orders__title">
                           <a href="{{ product['href'] }}">
                              <h3>{{ product['name'] }}</h3>
                           </a>
                        </div>
                        {% if product['manufacturer'] %}
                        <div class="basket-orders__article"><span>производитель: </span><span>{{product['manufacturer']}}</span></div>
                        {% endif %}

                        {% if not product['stock'] and (config_stock_warning or not config_stock_checkout) %}
                        <div class="basket-orders__article">
                           <span class="product-warning">***</span>
                        </div>
                        {% endif %}

                        <div class="basket-orders__size">
                           <div class="options">
                              {% for option in product['option'] %}
                              <p>{{ option['name'] }}: {{ option['value'] }}</p>
                              {% endfor %}
                              {% if product['recurring'] is not empty %}
                              <span>{{ text_payment_profile }}: {{ product['profile_name'] }}</span>
                              {% endif %}
                              {% if product['reward'] %}
                              <span>{{ product['reward'] }}</span>
                              {% endif %}
                           </div>
                        </div>

                        <div class="basket-orders__count">
                           <button class="item_minus" role="button" data-onclick="decreaseProductQuantity" data-toggle="tooltip"><span>-</span></button>
                           <input type="text" class="item_col keyPressedNum" data-onchange="changeProductQuantity" {{ quantity_step_as_minimum ? 'onfocus="$(this).blur()" data-minimum="' ~ product['minimum'] ~ '"' : '' }} name="quantity[{{ product['cart_id'] is not empty ? product['cart_id'] : product['key'] }}]" value="{{ product['quantity'] }}">
                           <button class="item_plus" role="button" data-onclick="increaseProductQuantity" data-toggle="tooltip"><span>+</span></button>
                        </div>
                     </td>
                     <td class="basket-orders__total-column">
                        <div class="basket-orders__price">
                           <span class="basket-orders__price-default">
                              {{ product['total'] }} <span class="ruble-sign">Р</span>
                           </span>
                        </div>
                     </td>
                  </tr>
               {% endfor %}
            </tbody>
         </table>

         <table class="basket-orders__table">
            <thead>
               <tr>
                  <th>Товар</th>
                  <th></th>
                  <th>Цвет/размер</th>
                  <th>Цена</th>
                  <th>Кол-во</th>
                  <th>Сумма</th>
                  <th></th>
               </tr>
            </thead>
            <tbody>
               {% for product in products %}
                    {% if product['recurring'] is not empty %}
                        <tr>
                            <td class="simplecheckout-recurring-product" style="border:none;"><img src="{{ additional_path }}catalog/view/theme/default/image/reorder.png" alt="" title="" style="float:left;" />
                                <span style="float:left;line-height:18px; margin-left:10px;">
                                <strong>{{ text_recurring_item }}</strong>
                                {{ product['profile_description'] }}
                                </span>
                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td class="image">
                           {% if product['thumb'] %}
                           <a href="{{ product['href'] }}">
                              <div class="basket-orders__photo"><img src="{{ product['thumb'] }}" alt="{{ product['name'] }}" title="{{ product['name'] }}"></div>
                           </a>
                           {% endif %}
                        </td>
                        <td class="name">
                           <div class="basket-orders__title">
                              <a href="{{ product['href'] }}">
                                 <h3>{{ product['name'] }}</h3>
                              </a>
                           </div>
                           {% if product['model'] %}
                           <div class="basket-orders__article"><!-- <span></span><span>{{product['model']}}</span> --></div>
                           {% endif %}
                           {% if product['manufacturer'] %}
                           <div class="basket-orders__article"><span>производитель: </span><span>{{product['manufacturer']}}</span></div>
                           {% endif %}

                           {% if not product['stock'] and (config_stock_warning or not config_stock_checkout) %}
                           <div class="basket-orders__article">
                              <span class="product-warning">***</span>
                           </div>
                           {% endif %}
                        </td>
                        <td class="options">
                           <div class="basket-orders__size">
                              <div class="options">
                               {% for option in product['option'] %}
                               &nbsp;<span> {{ option['name'] }}: {{ option['value'] }}</span><br />
                               {% endfor %}
                               {% if product['recurring'] is not empty %}
                               <span>{{ text_payment_profile }}: {{ product['profile_name'] }}</span>
                               {% endif %}
                               </div>
                               {% if product['reward'] %}
                               <span>{{ product['reward'] }}</span>
                               {% endif %}
                           </div>
                        </td>
                        <td class="price">
                           <div class="basket-orders__price">
                              <span class="basket-orders__price-default">
                                 {{ product['price'] }} <span class="ruble-sign">Р</span>
                              </span>
                           </div>
                        </td>
                        <td class="quantity">
                           <div class="basket-orders__count">
                              <button class="item_minus" role="button" data-onclick="decreaseProductQuantity" data-toggle="tooltip"><span>-</span></button>
                              <input type="text" class="item_col keyPressedNum" data-onchange="changeProductQuantity" {{ quantity_step_as_minimum ? 'onfocus="$(this).blur()" data-minimum="' ~ product['minimum'] ~ '"' : '' }} name="quantity[{{ product['cart_id'] is not empty ? product['cart_id'] : product['key'] }}]" value="{{ product['quantity'] }}">
                              <button class="item_plus" role="button" data-onclick="increaseProductQuantity" data-toggle="tooltip"><span>+</span></button>
                           </div>
                        </td>
                        <td class="total">
                           <div class="basket-orders__price">
                              <span class="basket-orders__price-default">
                                 {{ product['total'] }} <span class="ruble-sign">Р</span>
                              </span>
                           </div>
                        </td>
                        <td class="remove">
                           <div class="basket-orders__del" data-onclick="removeProduct" data-product-key="{{product['cart_id']}}"><button style="outline: none;border: 0;background: transparent;fill:#94918e"><svg viewBox="0 0 191.414 191.414" width="21" height="21"><path d="M107.888,96.142l80.916-80.916c3.48-3.48,3.48-8.701,0-12.181s-8.701-3.48-12.181,0L95.707,83.961L14.791,3.045   c-3.48-3.48-8.701-3.48-12.181,0s-3.48,8.701,0,12.181l80.915,80.916L2.61,177.057c-3.48,3.48-3.48,8.701,0,12.181   c1.74,1.74,5.22,1.74,6.96,1.74s5.22,0,5.22-1.74l80.916-80.916l80.916,80.916c1.74,1.74,5.22,1.74,6.96,1.74   c1.74,0,5.22,0,5.22-1.74c3.48-3.48,3.48-8.701,0-12.181L107.888,96.142z"></path></svg></button></div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
         </table>
      </div>

      <div class="basket-orders__footer-mobile">
         {% if modules['coupon'] is defined %}
         <div class="basket-orders__discount">
            <div class="form-vertical" id="PromoForm" style="display: flex;">
               <input class="basket-orders__discount-input" placeholder="Введите промокод" id="PromoForm_promo" type="text" name="coupon" value="{{ coupon }}" style="margin-right: 10px;">
               <input value="Применить" class="basket-orders__discount-send" data-onclick="reloadAll" style="text-align: center;">
            </div>
         </div>
         {% endif %}

         <div class="basket-orders__totals-mobile">
            {% for total in totals %}
               <div id="total_{{ total['code'] }}" class="total-item {% if loop.last %}total-item_last{% endif %}">
                  <div>{{ total['title'] }}:</div>
                  <div>{{ total['text'] }} <span class="ruble-sign">Р</span></div>
                  <span class="dotted-item"></span>
               </div>
            {% endfor %}
         </div>

         <div class="basket-orders__result-total">
            {% for total in totals %}
               {% if total['code'] == 'total' %}
                  <span>К оплате:</span>
                  <span class="total-price">{{ total['text'] }} <span class="ruble-sign">Р</span></span>
               {% endif %}
            {% endfor %}
         </div>
      </div>

      <div class="basket-orders__footer">
         {% if modules['coupon'] is defined %}
         <div class="basket-orders__discount">
            <div class="form-vertical" id="PromoForm" style="display: flex;">
               <input class="basket-orders__discount-input" placeholder="Введите промокод" id="PromoForm_promo" type="text" name="coupon" value="{{ coupon }}" style="margin-right: 10px;">
               <input value="Применить" class="basket-orders__discount-send" data-onclick="reloadAll" style="text-align: center;">
            </div>
         </div>
         {% endif %}

         <div class="basket-orders__full-price">
            <div class="full-price">
               {% for total in totals %}
               {% if not loop.last %}
                   <span id="total_{{ total['code'] }}" class="full">{{ total['title'] }}: <span>{{ total['text'] }}</span> <span class="ruble-sign">Р</span></span>
               {% else %}
                   <span id="total_{{ total['code'] }}" class="full-price__end">{{ total['title'] }}: <span>{{ total['text'] }}</span> <span class="ruble-sign">Р</span></span>
               {% endif %}
               {% endfor %}
            </div>
         </div>
      </div>

      <div class="basket-orders__buttons" data-ng-show="cart.products">
         <a href="{{base}}" class="basket-orders__prev-button">
            <svg viewBox="0 0 489.2 489.2" width="20" height="20">
               <path d="M481.044,382.5c0-6.8-5.5-12.3-12.3-12.3h-418.7l73.6-73.6c4.8-4.8,4.8-12.5,0-17.3c-4.8-4.8-12.5-4.8-17.3,0l-94.5,94.5c-4.8,4.8-4.8,12.5,0,17.3l94.5,94.5c2.4,2.4,5.5,3.6,8.7,3.6s6.3-1.2,8.7-3.6c4.8-4.8,4.8-12.5,0-17.3l-73.6-73.6h418.8C475.544,394.7,481.044,389.3,481.044,382.5z"></path>
            </svg>
            <span>продолжить покупки</span>
         </a>
         <a onclick="$('#melle_clear_cart').click();window.location.reload(true);" class="basket-orders__reset-button">
            <svg viewBox="0 0 191.414 191.414" width="19" height="19">
               <path d="M107.888,96.142l80.916-80.916c3.48-3.48,3.48-8.701,0-12.181s-8.701-3.48-12.181,0L95.707,83.961L14.791,3.045   c-3.48-3.48-8.701-3.48-12.181,0s-3.48,8.701,0,12.181l80.915,80.916L2.61,177.057c-3.48,3.48-3.48,8.701,0,12.181   c1.74,1.74,5.22,1.74,6.96,1.74s5.22,0,5.22-1.74l80.916-80.916l80.916,80.916c1.74,1.74,5.22,1.74,6.96,1.74   c1.74,0,5.22,0,5.22-1.74c3.48-3.48,3.48-8.701,0-12.181L107.888,96.142z"></path>
            </svg>
            <span>очистить корзину</span>
         </a>
      </div>

   </div>
</div>


<input type="hidden" name="remove" value="" id="simplecheckout_remove">
<div style="display:none;" id="simplecheckout_cart_total">{{ cart_total }}</div>
{% if display_weight %}
   <div style="display:none;" id="simplecheckout_cart_weight">{{ weight }}</div>
{% endif %}

<script>

</script>

</div>