<h1 class="title">
    {{ current_category }}
</h1>
<div class="row mt-4 mb-2">
    {% for p in products %}
        <div class="col-md-6 col-xl-4 product-item mb-5 text-center">
            <a href="{{ p.href }}">
                <img src="{{ p.image }}" loading="lazy" width="365" height="468" alt="{{ p.h1 }}" class="img-fluid" />
            </a>

            {% if p.special_text %}
                <div class="p-2 special-text">
                    <span>{{ p.special_text }}</span>
                </div>
            {% endif %}

            <div class="row">
                <div class="col-sm-12">
                    <div class="my-4">
                        <a href="{{ p.href }}" class="title">{{ p.h1 }}</a>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-around col-sm-12">
                    {% if p.in_stock %}
                        {% if p.isSpecial %}
                            <div>
                                <span class="price price-old mr-2">
                                    {{ p.getPrice }}
                                    <span class="ruble-sign">Р</span>
                                </span>
                                <span class="price">
                                    {{ p.getSpecial }}
                                    {% if p.zvezdochka %}
                                        <span class="ruble-container">
                                            <span class="ruble-sign">Р</span><span class="ruble-zvezdochka">*</span>
                                        </span>
                                    {% else %}
                                        <span class="ruble-sign">Р</span>
                                    {% endif %}
                                </span>
                            </div>
                        {% else %}
                            <span class="price">
                                {{ p.getPrice }}
                                <span class="ruble-sign">Р</span>
                            </span>
                        {% endif %}
                        <a href="{{ p.href }}" class="btn btn-primary px-4">
                            Купить
                        </a>
                    {% else %}
                        <a href="{{ p.href }}"
                            class="btn btn-primary btn-block w-75 m-auto">
                            Скоро в продаже
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% if canLoadMore %}
    <div class="text-center">
        <button id="view-more-button"
            class="btn btn-secondary bg-dark px-5 py-3">
            <b>ПОКАЗАТЬ ЕЩЁ</b>
        </button>
    </div>
{% endif %}
