<div class="filter">
    <h4 class="title">
        Фильтр <span class="found">(Найдено:&nbsp;{{ product_total }})</span>
    </h4>
    <form class="mt-3">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <label class="d-flex align-items-center">
                <input type="checkbox" checked="{{ hit }}" />
                <span class="d-flex justify-content-between align-items-center">

                </span>
                <span>Хиты</span>
            </label>
            <label class="d-flex align-items-center">
                <input type="checkbox" checked="{{ neww }}" />
                <span class="d-flex justify-content-between align-items-center">

                </span>
                <span>Новинки</span>
            </label>
            <label class="d-flex align-items-center">
                <input type="checkbox" checked="{{ act }}" />
                <span class="d-flex justify-content-between align-items-center">

                </span>
                <span>Акции</span>
            </label>
        </div>
        <div class="filter-price mb-4">
            <div class="sub-title mb-2">
                <span>Цена, руб</span>
            </div>
            <div class="d-flex">
                <div class="d-flex align-items-center w-50">
                    <span>от</span>
                    <input type="text"
                        value="{{ min_price }}"
                        class="text-center" />
                </div>
                <div class="d-flex align-items-center justify-content-end w-50">
                    <span>до</span>
                    <input type="text"
                        value="{{ max_price }}"
                        class="text-center" />
                </div>
            </div>
        </div>
        <div class="filter-manufacturers d-flex flex-wrap align-content-center align-items-center mb-4">
            {% for item in manufacturers %}
                <div class="manufacturer-item mr-2">
                    <label class="d-flex align-items-center">
                        <input checked="{{ item.checked }}" type="checkbox" />
                        <span class="d-flex justify-content-between align-items-center">

                        </span>
                        <span>{{ item.label }}</span>
                    </label>
                </div>
            {% endfor %}
        </div>
        <div class="d-flex align-items-center justify-content-between mb-4 text-right">
            <span class="sub-title">размер:</span>
            <select class="d-inline-block" placeholder="Все">
                {% for o in all_sizes %}
                    <option value="{{ o.value }}">
                        {{ o.label }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="d-flex align-items-center justify-content-between mb-4 text-right">
            <span class="sub-title">цвет:</span>
            <select class="d-inline-block" placeholder="Все">
                {% for o in all_colors %}
                    <option value="{{ o.value }}">
                        {{ o.label }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="d-flex align-items-center justify-content-between mb-4 text-right">
            <span class="sub-title">материал:</span>
            <select class="d-inline-block" placeholder="Все">
                {% for o in all_materials %}
                    <option value="{{ o.value }}">
                        {{ o.label }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="filter-price mb-4">
            <div class="sub-title mb-2">
                <span>Ден:</span>
            </div>
            <div class="d-flex">
                <div class="d-flex align-items-center w-50">
                    <span>от</span>
                    <input type="text"
                        value="{{ min_den }}"
                        class="text-center" />
                </div>
                <div class="d-flex align-items-center justify-content-end w-50">
                    <span>до</span>
                    <input type="text"
                        value="{{ max_den }}"
                        class="text-center" />
                </div>
            </div>
        </div>
    </form>
</div>
