<form class="form-vertical" method="post">

    {% for o in options %}
    {% if o.type == 'radio' %}
    <div class="mb-3">
    <div class="align-items-center d-flex justify-content-start">
        <span class="option-selector">{{ o.name }}:</span>
        <div class="d-flex flex-row flex-wrap justify-content-start">

            {% for ov in o.product_option_value %}
            <label class="{{o.class}}-radio radio-inline text-center my-1 mr-2">
                <div class="d-flex flex-column justify-content-center {% if ov.disabled_by_selection %} krestik {% endif %}">
                    <input type="radio"
                        name="ShopCartItem[{{o.class}}]"
                        placeholder="{{ov.name}}"
                        value="{{ov.option_value_id}}"
                        class="{% if ov.selected %}{% endif %} {% if ov.disabled_by_selection %}disabled{% endif %}">

                    {% if not ov.image %}
                    <span>{{ ov.name }}</span>
                    {% else %}
                    <span>
                        <img src="{{ov.image}}"
                            class="{{o.class}}-image"
                            title="{{ov.name}}">
                    </span>
                    {% endif %}
                </div>
            </label>
            {% endfor %}

            {% if size_list and o.class == 'size' %}
            <a id="size-list"
                data-fancybox=""
                class="d-none d-sm-block"
                href="javascript:void(0)">таблица<br>размеров</a>
            {% endif %}
        </div>
    </div>
    </div>
    {% endif %}
    {% endfor %}

    <div class="align-items-center d-flex justify-content-start">
        <span class="option-selector">кол-во:</span>
        <div class="align-items-center d-flex quantity-container">
            <button class="p-0 px-2 text-center" type="button">-</button>
            <input id="productCounter" class="p-0 text-center" value="{{quantity}}">
            <button class="p-0 px-2 text-center" type="button">+</button>
        </div>
    </div>

    {% if in_stock %}
    <div class="align-items-center d-flex justify-content-start my-3">
        <div>
            {% if isSpecial %}
            <span class="price-old">{{ getActivePrice }} <span class="ruble-sign">Р</span></span>
            <span class="ml-3 price">{{ getSpecial }}
                {% if zvezdochka %}
                <span  class="ruble-container">
                    <span class="ruble-sign">Р</span><span class="ruble-zvezdochka-p">*</span>
                </span>
                {% else %}
                <span class="ruble-sign">Р</span>
                {% endif %}
            </span>
            {% endif %}

            {% if zvezdochka %}
            <span class="ml-3 special-text-info">{{ special_text }}</span>
            {% endif %}

            {% if not isSpecial %}
            <span class="price">{{ getActivePrice }} <span class="ruble-sign">Р</span></span>
            {% endif %}
        </div>
    </div>
    {% endif %}

    <div class="d-flex flex-row justify-content-between mt-3">
        {% if in_stock %}
        <a id="add_trigger_button" href="javascript:void(0);" class="add-button p-2 p-sm-3 w-100 text-center"><span class="m-auto">Добавить <br> В корзину</span></a><br>
        <a href="javascript:void(0);" class="d-flex ml-3 ml-sm-5 one-click-button p-2 p-sm-3 w-100"><span class="m-auto"
          >Купить <br />
          в 1 клик</span
        ></a>
        {% else %}
        <div class="d-flex flex-row justify-content-between">
           <a href="javascript:void(0);" class="d-flex one-click-button p-2 p-sm-3 text-center w-50 not-in-stock"><span class="m-auto">Сообщить о поступлении</span></a>
        </div>
        {% endif %}
    </div>

</form>
