<form class="add-to-cart form-vertical" id="yw3" method="post">

    {% for o in options %}
    {% if o.type == 'radio' %}
    <div class="prod-card__form-group prod-card__form-group--{{o.class}}">
    <div>
        <span class="ivan-product-selectors">{{ o.name }}:</span>
        <div id="ivan-js-{{o.class}}-list" class="{{o.class}}">

            {% for ov in o.product_option_value %}
            <label class="radio-inline ivan-{{o.class}}-radio">
                <div class="{% if ov.disabled_by_selection %}krestik{% endif %}">
                    <input type="radio"
                        name="ShopCartItem[{{o.class}}]"
                        placeholder="{{ov.name}}"
                        value="{{ov.option_value_id}}"
                        class="{% if ov.selected %}{% endif %} {% if ov.disabled_by_selection %}disabled{% endif %}">

                    {% if not ov.image %}
                    <span>{{ ov.name }}</span>
                    {% else %}
                    <span>
                        <img src="{{ov.image}}"
                            class="{{o.class}}-image"
                            title="{{ov.name}}">
                    </span>
                    {% endif %}
                </div>
            </label>
            {% endfor %}

            {% if size_list and o.class == 'size' %}
            <a id="tablitsa-razmerov"
                data-fancybox=""
                class="hidden-sm"
                href="size_list">таблица<br>размеров</a>
            {% endif %}
        </div>
    </div>
    </div>
    {% endif %}
    {% endfor %}

    <div class="prod-card__form-group prod-card__form-group--count">
        <span class="ivan-product-selectors">кол-во:</span>
        <div class="prod-card__count-wrap">
           <div class="prod-card__count">
            <button class="item_minus" type="button">-</button>
            <input id="productCounter" class="item_col keyPressedNum" value="{{quantity}}">
            <button class="item_plus" type="button">+</button>
           </div>
        </div>
    </div>

    <div class="prod-card__form-group prod-card__form-group--price">
        <div class="prod-card__price">

            {% if isSpecial %}
            <span class="prod-card__price-default prod-card__price-ivanold">{{ getActivePrice }} <span class="ruble-sign">Р</span></span>
            <span class="prod-card__price-default">{{ getSpecial }}
                {% if zvezdochka %}
                <span  class="ruble-container-p">
                    <span class="ruble-sign">Р</span><span class="ruble-zvezdochka-p">*</span>
                </span>
                {% else %}
                <span class="ruble-sign">Р</span>
                {% endif %}
            </span>
            {% endif %}

            {% if zvezdochka %}
            <span class="special-text-info">{{ special_text }}</span>
            {% endif %}

            {% if not isSpecial %}
            <span class="prod-card__price-default">{{ getActivePrice }} <span class="ruble-sign">Р</span></span>
            {% endif %}

            <div class="prod-card__form-group prod-card__form-group--rating">
              <div class="star-rating star-rating--span">
                {% for r in getRating %}
                <span class="fa fa-lg {% if r == true %}fa-star{% else %}fa-star-o{% endif %}" />
                {% endfor %}
              </div>
            </div>
        </div>
    </div>

    <div id="ivan-price-handler">
        <div style="margin: 0px" class="prod-card__form-group prod-card__form-group--send ivan-price-button">
           <a id="add_trigger_button" href="javascript:void(0);"><span>Добавить <br> В корзину</span></a><br>
        </div>

        <div class="prod-card__form-group--send ivan-price-button one-click-button">
           <div class="modal--send"></div>
           <a href="javascript:void(0);" class="fast-order-link btn">Купить <br> в 1 клик</a>
        </div>
    </div>

</form>