Телефон:
{{ phone }}

Имя:
{{ name }}

Товар:
{{ product }}

Кол-во:
{{ quantity }}

{% if options %}
Выбранные опции:
{% for o in options %}
<span>{{o.name}}: </span><span>{{o.value}}</span><br>
{% endfor %}
{% endif %}