
</section> <!-- END MAIN SECTION -->

<section class="section section-5 fp-auto-height" data-anchor="section-5">
   <footer>
      <div class="footer-menu-block">
         <ul class="footer-menu">
            {% for info in informations %}
            {% if info.link != false %}
            <li><a target="_blank" rel="nofollow" href="{{info.link}}">{{info.title}}</a></li>
            {% else %}
            <li><a href="{{ info.href }}">{{info.title}}</a></li>
            {% endif %}
            {% endfor %}
         </ul>
         <div itemscope="" itemtype="http://schema.org/Organization" style="font-size:0;">
            <span itemprop="name">Интернет магазин Mademoiselle</span>
            Контакты:
            <div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
               Адрес:
               <span itemprop="streetAddress">ул. Профсоюзая, 83, кв.2</span><span itemprop="addressLocality">Москва</span>,
            </div>
            Телефон:<span itemprop="telephone">8-800-777-21-73</span>,
            Электронная почта: <span itemprop="email">info@melle.online</span>
         </div>

         <div class="subscribe-block">
            <p class="made-in made-in-mob">Разработка сайта: <a href="#">google.com</a></p>
            <div class="counts">

            </div>
            <a target="_blank" rel="noopener noreferrer nofollow" class="insta" href="https://www.instagram.com/melle.online/"><i class="fa fa-instagram" aria-hidden="true"></i></a><a target="_blank" rel="noopener noreferrer nofollow" class="button" href="https://cp.unisender.com/ru/v5/subscribe-form/view/6mpq1gouefnwzjbc5q17gmz46w96jotoumxxbpfy"><span>Подписаться на рассылку</span></a><a target="_blank" rel="noopener noreferrer nofollow" class="fb" href="https://www.facebook.com/melle.online/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
         </div>

         <!-- <p class="made-in made-in-desc">Разработка сайта: <a target="_blank" href="{{text_powered}}" rel="noopener noreferrer nofollow">{{text_powered}}</a></p> -->
      </div>
   </footer>
</section>

<div class="c-fz152__block js-cookie--modal" style="display: none;">
   <div class="container">
      <div class="c-fz152__container">
         <div class="c-fz152__content">
            <p>На нашем сайте используются файлы cookie. Продолжая пользоваться сайтом, вы выражаете согласие на использование нами данных файлов. Подробнее&nbsp;вы можете прочитать в разделе "Политика конфиденциальности".</p>
         </div>
      </div>
   </div>
   <div class="c-fz152__buttons"><button class="c-fz152__button c-fz152__button--confirm js-confirm">ОК</button></div>
</div>

<link href="{{base}}catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

<script src="{{base}}catalog/view/javascript/melle/query/script.js"></script>
<script src="{{base}}catalog/view/javascript/melle/query/old.js"></script>

<script src="https://www.google.com/recaptcha/api.js?onload=vueRecaptchaApiLoaded&amp;render=explicit" async defer></script>

{% if pagetype == 'checkout' %}
<script src="{{base}}catalog/view/javascript/bootstrap/js/bootstrap.min.js"></script>
{% endif %}

{% if pagetype == 'product' %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>
{% endif %}

{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}

<!-- BEGIN JIVOSITE CODE {literal} --><script type='text/javascript'>
   (function(){ var widget_id = '0EPBW5Wrw9';var d=document;var w=window;function l(){
   var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
</script><!-- {/literal} END JIVOSITE CODE -->

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function (d, w, c) {
       (w[c] = w[c] || []).push(function() {
           try {
               w.yaCounter46407828 = new Ya.Metrika2({
                   id:46407828,
                   clickmap:true,
                   trackLinks:true,
                   accurateTrackBounce:true,
                   webvisor:true,
                   trackHash:true,
                   ecommerce:"dataLayer"
               });
           } catch(e) { }
       });

       var n = d.getElementsByTagName("script")[0],
           s = d.createElement("script"),
           f = function () { n.parentNode.insertBefore(s, n); };
       s.type = "text/javascript";
       s.async = true;
       s.src = "https://mc.yandex.ru/metrika/tag.js";

       if (w.opera == "[object Opera]") {
           d.addEventListener("DOMContentLoaded", f, false);
       } else { f(); }
   })(document, window, "yandex_metrika_callbacks2");
</script>

<noscript>
   <div><img src="https://mc.yandex.ru/watch/46407828" style="position:absolute; left:-9999px;" alt="" /></div>
</noscript>

<!-- /Yandex.Metrika counter -->
<script type="text/javascript">// <![CDATA[
   window.addEventListener('load', function () {
      if (typeof yaCounter46407828 != 'undefined') {
         $(document).on('submit', 'form.add-to-cart', function () { yaCounter46407828.reachGoal('newzakaz') });
         $(document).on('click', 'button#showCartForm', function () { yaCounter46407828.reachGoal('zakaz') });
         $(document).on('click', 'input.subscribe__send', function () { yaCounter46407828.reachGoal('podpiska') });
         $(document).on('mousedown', 'input.mail-us__form-send', function () { yaCounter46407828.reachGoal('registraciya') });
      }

      $(document).on('submit', 'form.add-to-cart', function () {
          gtag('event', 'korzina', { 'event_category': 'korzina', 'event_action': 'click', });
      });
      $(document).on('click', 'button#showCartForm', function () {
          gtag('event', 'zakaz', { 'event_category': 'zakaz', 'event_action': 'click', });
      });
      $(document).on('click', 'input.subscribe__send', function () {
          gtag('event', 'subscribe', { 'event_category': 'subscribe', 'event_action': 'click', });
      });
      $(document).on('mousedown', 'input.mail-us__form-send', function () {
          gtag('event', 'registraciya', { 'event_category': 'registraciya', 'event_action': 'click', });
      });
   });
   // ]]>
</script>

<script type="text/javascript" language="javascript">

var _lh_params = {"popup": false};
lh_clid="5b0820b0e694aa2943a30dab";
(function() {
var lh = document.createElement('script'); lh.type = 'text/javascript'; lh.async = true;
lh.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'track.leadhit.io/track.js?ver=' + Math.floor(Date.now()/100000).toString();
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lh, s);
})();/*
"PLEASE DO NOT MAKE ANY CHANGES IN THIS JS-CODE!"*/

</script>

</body></html>