<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}" class="{{pagetype}}">
<!--<![endif]-->
<head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110511917-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-110511917-1');
</script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

ym(46407828, "init", {
    clickmap:true,
    trackLinks:true,
    accurateTrackBounce:true,
    webvisor:true,
    trackHash:true,
    ecommerce:"dataLayer"
});
</script>

<!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '1028795214704619');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1028795214704619&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->

<meta name="facebook-domain-verification" content="oy0od99dn55lv8iy7k4g8r4wertkga" />

<noscript><div><img src="https://mc.yandex.ru/watch/46407828" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Accept-CH" content="DPR, Viewport-Width, Width">
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
<meta property="og:site_name" content="{{site_name}}" />
<meta property="og:url" content='{{base}}'/>
<meta property="og:title" content="{{title}}"/>
<meta property="og:image" content="{{og.image}}"/>
<meta property="og:description" content="{{description}}"/>
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:image" content="{{og.image}}"/>

<meta name="yandex-verification" content="25a6a52c8f079663" />

<title>{{ title }}</title>
<base href="{{ base }}" />

<link rel="preload" href="{{base}}catalog/view/theme/melle/fonts/CenturyGothic-Bold.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="{{base}}catalog/view/theme/melle/fonts/PTRoubleSans.otf" as="font" type="font/otf" crossorigin>
<link rel="preload" href="{{base}}catalog/view/theme/melle/fonts/CenturyGothicRegular/CenturyGothicRegular.woff" as="font" type="font/woff" crossorigin>

<link rel="preload" href="{{base}}catalog/view/javascript/jquery/jquery-2.2.4.min.js" as="script">
<link rel="preload" href="{{base}}catalog/view/theme/melle/javascript/dist/manifest.js{{cache_postfix}}" as="script">
<link rel="preload" href="{{base}}catalog/view/theme/melle/javascript/dist/vendor.js{{cache_postfix}}" as="script">
<link rel="preload" href="{{base}}catalog/view/theme/melle/javascript/dist/melle.js{{cache_postfix}}" as="script">

<link href="{{base}}catalog/view/theme/melle/stylesheet/compiled/bootstrap.css{{cache_postfix}}" rel="stylesheet" type="text/css" />
<link href="{{base}}catalog/view/theme/melle/stylesheet/vue-slick-carousel.css{{cache_postfix}}" rel="stylesheet" type="text/css" />
<link href="{{base}}catalog/view/theme/melle/stylesheet/vue-slick-carousel-theme.css{{cache_postfix}}" rel="stylesheet" type="text/css" />

{% for style in styles %}
<link href="{{ style.href }}{{cache_postfix}}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}

{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}

<script type="text/javascript">
function injectStyle(c, l) {
  n = document.createElement("script"), o = document.getElementsByTagName("link")[0], n.rel = 'stylesheet', n.href = c, o.parentNode.insertBefore(n, o), n.onload = l
}
function injectScript(c, a, l) {
  n = document.createElement("script"), o = document.getElementsByTagName("script")[0], n.async = a, n.src = c, o.parentNode.insertBefore(n, o), n.onload = l
}
</script>

{% if pagetype == 'checkout' %}
<script src="{{base}}catalog/view/javascript/jquery/jquery-2.2.4.min.js" type="text/javascript"></script>
{% endif %}

{% for state in states %}
<script type="text/javascript">window.__{{state.codename}}__ = `{{state.json}}`;</script>
{% endfor %}

{% for script in scripts %}
<script src="{{ script }}{{cache_postfix}}" type="text/javascript"></script>
{% endfor %}

{% if not is_local %}
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}
{% endif %}

</head>
<body>
<noscript>
    <div class="no-js-warning bg-warning">
        <div class="text-center p-2">Для корректной работы сайта пожалуйста включите JavaScript.</div>
    </div>
</noscript>

<section id="melle-mount"> <!-- START MAIN SECTION -->
    {{melle_mobile_menu}}

    {% if rhc %}
    <div id="rendered-header-content">{{rhc}}</div>
    {% endif %}
    <melle-header></melle-header>
