
      </div>
   </section>

    <melle-checkout-rp />

    {% if cart_related_products %}
    <div id="rendered-checkout-rp" class="other-prod checkout-prod">
       <div class="other-prod__title">С этим товаром покупают</div>
       <ul class="">
          {% for p in cart_related_products %}
          <li class="other-prod__item {{p.znachek_class}}">
             <a href="{{p.href}}" class="other-prod__item-link"><img src="{{p.thumb}}" alt="{{p.h1}}"></a>
             <div class="other-prod__item-ivaninfo">
                <div class="row">
                   <div class="col-xs-12">
                      <h3 class="ivanitemtitle"><a href="{{p.href}}">{{p.h1}} </a></h3>
                   </div>
                   <div class="col-xs-7"><span class="other-prod__item-price-default">{{p.price}}<span class="ruble-sign">Р</span></span></div>
                   <div class="col-xs-5">
                      <div><a href="{{p.href}}" class="ivanbuybutton">Купить</a></div>
                   </div>
                </div>
             </div>
          </li>
          {% endfor %}
       </ul>
    </div>
    {% endif %}

</main>
{{ footer }}