{{ header }}
{% if final_gtm_data %}
</section>
{% endif %}
<main class="main-page">
   <section class="breadcrumbs">
      <div class="breadcrumbs__container container">
         <div class="breadcrumbs__inner">
            {% for breadcrumb in breadcrumbs %}
            {% if not loop.last %}
            <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a><span>/</span>
            {% else %}
            <span>{{ breadcrumb.text }}</span>
            {% endif %}
            {% endfor %}
         </div>
      </div>
   </section>

   <section class="catalog">
      <div class="catalog__container container">

         <h1>{{ heading_title }}</h1>
         <p>{{ text_message }}</p>

         {% if final_gtm_data %}
         <script>
             dataLayer.push({
               "event": "transaction",
               "ecommerce": {
                 "purchase": {
                   "actionField": {
                     "id": "{{ final_gtm_data.order_id }}",
                     "revenue": {{ final_gtm_data.total }},
                     "tax": {{ final_gtm_data.tax }},
                     "shipping": {{ final_gtm_data.shipping }}
                   },
                   "products": {{ final_gtm_data.products }}
                 }
               },
                 'event': 'gtm-ee-event',
                 'gtm-ee-event-category': 'Enhanced Ecommerce',
                 'gtm-ee-event-action': 'Purchase',
                 'gtm-ee-event-non-interaction': 'False',
             });
         </script>
         {% endif %}

      </div>
   </section>
</main>
{% if final_gtm_data %}
<section>
{% endif %}
{{ footer }}