{# location: admin/view #}
{{ header }}{{ column_left }}

<div id="content">
    <div id="pro_related_shuffle"></div>
</div>

<script type="text/javascript">
window.__{{ codename }}__ = {{ state|json_encode(constant('JSON_FORCE_OBJECT'))|raw }};
</script>

{% for script in pro_scripts %}
<script type="text/javascript" src="{{ script }}?{{ random(777) }}"></script>
{% endfor %}

{{ footer }}