{# location: admin/view #}
{{ header }}{{ column_left }}

<div id="content">
    <div id="size_list-mount">
        <{{codename}}></{{codename}}>
    </div>
</div>

<script type="text/javascript">
window.__{{ codename }}__ = {{state}};
</script>

{% for script in pro_scripts %}
<script type="text/javascript" src="{{ script }}"></script>
{% endfor %}

{{ footer }}