{{ header }}
<main class="main-page container-fluid">
<div class="row">
   <div class="col-lg-12">
            <section class="d-flex justify-content-between align-items-center">
                <div class="breadcrumbs">
                    {% for breadcrumb in breadcrumbs %}
                    {% if not loop.last %}
                    <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                    <span class="divider">/</span>
                    {% else %}
                    <span>{{ breadcrumb.text }}</span>
                    {% endif %}
                    {% endfor %}
                </div>
            </section>
        </div>

   <div class="col-lg-12 mt-4">
         <h1>Настройки</h1>

        <div class="row mt-3">
            <div class="col-sm-12 col-md-3 col-lg-2">
                <div class="account-sidebar">
                    <div class="mb-2"><a href="{{account_link}}">Настройки</a></div>
                        <div class="mb-2"><a href="{{order}}" class="btn btn-sm btn-dark disabled">Мои заказы</a></div>
                        <div class="mb-2"><a href="{{address}}">Мои адреса</a></div>

                        <div class="mb-2">
                            <a href="{{logout_link}}" class="align-items-center d-flex">
                                Выход&nbsp;
                                <svg viewBox="0 0 384.971 384.971" height="14" width="14">
                                <path d="M180.455,360.91H24.061V24.061h156.394c6.641,0,12.03-5.39,12.03-12.03s-5.39-12.03-12.03-12.03H12.03C5.39,0.001,0,5.39,0,12.031V372.94c0,6.641,5.39,12.03,12.03,12.03h168.424c6.641,0,12.03-5.39,12.03-12.03C192.485,366.299,187.095,360.91,180.455,360.91z"></path>
                                <path d="M381.481,184.088l-83.009-84.2c-4.704-4.752-12.319-4.74-17.011,0c-4.704,4.74-4.704,12.439,0,17.179l62.558,63.46H96.279c-6.641,0-12.03,5.438-12.03,12.151c0,6.713,5.39,12.151,12.03,12.151h247.74l-62.558,63.46c-4.704,4.752-4.704,12.439,0,17.179c4.704,4.752,12.319,4.752,17.011,0l82.997-84.2C386.113,196.588,386.161,188.756,381.481,184.088z"></path>
                                </svg>
                            </a>
                        </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-9 col-lg-10mt-4 mt-md-0">

            {% if success %}
            <div class="alert alert-success">{{ success }}</div>
            {% endif %}
            {% if error_warning %}
            <div class="alert alert-danger">{{ error_warning }}</div>
            {% endif %}

            <section class="lk-order">
                  <div class="alert alert-secondary"><span>дата оформления: </span><span class="data">{{ date_added }}</span></div>
                  <div class="alert alert-secondary"><span>статус оплаты: </span><span class="status">{{order_status}}</span></div>
               <div class="table-responsive">
                  <table class="table">
                     <thead>
                        <tr>
                           <th>Товар</th>
                           <th></th>
                           <th>Цвет/Размер</th>
                           <th>Цена</th>
                           <th>Кол-во</th>
                           <th>Сумма</th>
                           {% if product.reorder %}
                           <th></th>
                           {% endif %}
                        </tr>
                     </thead>
                     <tbody>
                        {% for product in products %}
                        <tr>
                           <td>
                              <a href="{{ product.href }}">
                                 <div class="lk-order__photo"><img src="{{product.image}}"/></div>
                              </a>
                           </td>
                           <td>
                              <div class="lk-order__title">
                                 <a href="{{ product.href }}">
                                    <h3>{{ product.name }}</h3>
                                 </a>
                              </div>
                              <div class="lk-order__article"><span>артикул: </span><span>
                                 {{ product.model }}
                                 </span>
                              </div>
                           </td>
                           <td>
                              <div class="lk-order__size">
                                 {% for option in product.option %} <br />
                                 &nbsp;<small>{{ option.name }}: {{ option.value }}</small> {% endfor %}
                              </div>
                           </td>
                           <td>
                              <div class="lk-order__price"><span class="lk-order__price-default">{{ product.price }} <span class="ruble-sign">Р</span></span></div>
                           </td>
                           <td>
                              <div class="lk-order__count"><span>{{ product.quantity }}</span></div>
                           </td>
                           <td>
                              <div class="lk-order__price"><span class="lk-order__price-default">{{ product.total }} <span class="ruble-sign">Р</span></span></div>
                           </td>

                        </tr>
                        {% endfor %}
                     </tbody>
                  </table>
               </div>
               <div class="lk-order__footer">
                  <div class="lk-order__info">
                     <div class="lk-order__info-title">Информация о заказе</div>
                     <ul>
                        <li>
                           <div class="lk-order__info-left"><span>Пользователь:</span></div>
                           <div class="lk-order__info-right"><span>{{name}}</span></div>
                        </li>
                        <li>
                           <div class="lk-order__info-left"><span>E-mail:</span></div>
                           <div class="lk-order__info-right"><span>{{email}}</span></div>
                        </li>
                        <li>
                           <div class="lk-order__info-left"><span>Телефон:</span></div>
                           <div class="lk-order__info-right"><span>{{telephone}}</span></div>
                        </li>
                        {% if shipping_method %}
                        <li>
                           <div class="lk-order__info-left"><span>Способ доставки:</span></div>
                           <div class="lk-order__info-right"><span>{{shipping_method}}</span></div>
                        </li>
                        {% endif %}
                        {% if payment_address %}
                        <li>
                           <div class="lk-order__info-left"><span>Адрес доставки:</span></div>
                           <div class="lk-order__info-right"><span>{{payment_address}}</span></div>
                        </li>
                        {% endif %}
                        {% if payment_method %}
                        <li>
                           <div class="lk-order__info-left"><span>Способ оплаты:</span></div>
                           <div class="lk-order__info-right"><span>{{payment_method}}</span></div>
                        </li>
                        {% endif %}
                        {% if comment %}
                        <li>
                           <div class="lk-order__info-left"><span>Комментарий к заказу:</span></div>
                           <div class="lk-order__info-right"><span>{{comment}}</span></div>
                        </li>
                        {% endif %}
                     </ul>
                  </div>
                  <div class="lk-order__full-price">
                     <div class="full-price">
                        {% for total in totals %}
                        {% if not loop.last %}
                        <span class="full-price__sum">{{ total.title }}:
                           <span class="full-price__number">{{ total.text }} <span class="ruble-sign">Р</span></span>
                        </span>
                        {% else %}
                        <span class="full-price__end">{{ total.title }}:
                           <span>{{ total.text }} <span class="ruble-sign">Р</span></span>
                        </span>
                        {% endif %}
                        {% endfor %}
                     </div>
                  </div>
               </div>
            </section>
         </div>
      </div>
   </section>
</main>
{{ footer }}
